@model IEnumerable<myGP.Models.Official_Candidates>
@{
    ViewBag.Title = "followUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>الإدارة</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/candidateProgramsSS.css">
</head>

<body  style=" background-image: url('../Imgs/green3.jpeg'); width:100%; display:block; ">

    <h2 style="text-align:center; margin-top:50px; " id="candidateElectionTitle">العملية الإنتخابية لرئاسة الجمهورية لعام 2022</h2>
    <h3 style="text-align:center; margin-top:50px; ">ترتيب المرشحين الآن</h3>
    <i class="fas fa-bell mb-lg-2"></i>


    @{int counter = 0;}
    @foreach (var item in Model)
    {
        counter++;

        <h4  id="myCounter" style="text-align:center; margin-top:50px;">@counter</h4>


        <div class="row" style="margin-top:20px;">
            <div class="col" align="center">
                <div class="card" style="width:18rem; ">
                    <a href="#">
                        <img class="cardsImg card-img-top" src="@item.image_link" alt="candidate">
                    </a>
                    <div class="card-body">
                        <h4 class="card-text" style="text-align:center">@item.candidate_name</h4>
                        <h6 class="card-text" style="text-align:center">للإطلاع على البرنامج الإنتخابي <a target="_blank" href="@item.pdf_link" class="stretched-link">من هنا</a></h6>
                    </div>
                </div>
            </div>
        </div>

        <!--

           <h2>@item.candidate_name</h2>
           <img class="cardsImg card-img-top" src="@item.image_link" alt="yara candidate">  -->
    }


    <div style="margin-top:70px;"></div>

</body>